// Form Elements Stylesheet
// ========================================

// Label Styling -- Delete this if you are not using a label
label {
  @include font-type($primary-font, normal, 600);
  font-size: 12px;
  padding-left: 12px;
}

// Basic Form Input Styling
input {
  @include font-type($primary-font, normal, normal);
  font-size: 16px;
  color: $black;
  border: 2px solid $gray;
  border-radius: 5px;
  padding: $spacer-s;
}

// Select Form Input Styling
select {
  @include font-type($primary-font, normal, normal);
  color: $black;
  font-size: 16px;
  border: 2px solid $gray;
  border-radius: 5px;
  height: 30px;
}
