// Form Elements Stylesheet
// ========================================

// Label Styling -- Delete this if you are not using a label
label {
  @include font-type($primary-font, normal, 600);
}

// Basic Form Input Styling
input {
  // background-color: $gray;
  @include font-type($primary-font, normal, normal);
  border: 2px solid $gray;
  border-radius: 5px;
  padding: $spacer-s; //text inside field
  margin-bottom: $spacer-m; //gives space at bottom of field
}

// Select Form Input Styling
select {
  @include font-type($primary-font, normal, normal);
  border: 2px solid $gray;
  border-radius: 5px;
  margin-bottom: $spacer-m;
}
