// Colors Variables Settings Stylesheet
// ========================================

$black: #000000;
$blue: #00FFFF;
$green: #008000;

// Main Palette List
$colors: (
  'black':    $black,
  'blue':     $blue,
  'green':    $green,
);
