// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Shadows Into Light Two', cursive;

// Text Colors Map
$type-colors: (
  'black':     ( black ),
  'white':     ( white ),
);
