// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

.header {
  background-color: $white;
}

.main {
  padding: $spacer-m;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {
      p {
        padding-bottom: $spacer-m;
      }
    }
  }
}

.item-container {
  margin: $spacer-m $reset-0;

}

.color-list {
  display: flex;
  width: 100%;
  margin-bottom: $spacer-xlg;

  &__item {
    padding: $spacer-xs;
    margin-right: $spacer-s;
    text-align: center;
    background-color: $gray;

    &__square {
      width: 100px;
      height: 100px;
      margin-bottom: $spacer-xs;
    }
  }
}

.footer {

}
