// Base Typography Stylesheet
// This is where your base typography will go
// ========================================

h1, h2, h3, h4, h5, h6 {
  @include font-type($secondary-font, normal, normal);
  color: $black;
  text-transform: uppercase;
}

p, a {
  @include font-type($primary-font, normal, normal);
  color: $black;
  font-size: 14px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {

}

a {
  text-decoration: none;

  &:hover {
    background-color: $green;
    color: $white;
  }
}
