// Base Typography Stylesheet
// This is where your base typography will go
// ========================================

h1, h2, h3, h4, h5, h6 {
  @include font-type($secondary-font, normal, normal);
  color: $black;
  padding-bottom: $spacer-xs;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p, a, li {
  @include font-type($primary-font, normal, normal);
  font-size: 14px;
}

p {
  color: $black;
  padding: $spacer-xs 0;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    color: darken($green, 15%);
    transition: color .2s
  }
}
